extends layout

block content
  div#total_view
     h1= title
     p This is Viewer page
     p Please show it!
     div#counter Count:#{total}

  div#script
     script(src="/javascripts/jquery.periodicalupdater.js",type="text/javascript")
     script(type="text/javascript").
      $(document).ready(function() {
        $.PeriodicalUpdater('./topsym',{
           minTimeout: 1000,
           method: 'get',
           data: ''
        },
        function(data){
           if (data != undefined){
              $('#counter').html($(data).find('#counter').text())
           }
        });
      });


