extends layout

block content
  h1= title
  p This is #{title}
  p Please shake it!
  script(type="text/javascript").
   $(document).ready(function() {
     $(this).gShake(function() {
      alert("Shake!!")
     });
   });
