extends layout

block content
  h1= title
  p This is #{title}
  p Please shake it!
  div#counter Count:0
  form(method="POST", target="./", id="form1")
      input(type="hidden", name="sum" value=0, id="sum")

  div#visual
    canvas#canvas-counter(
       width=500
       height=500
    )
    script(type='text/javascript', src='javascripts/drawCanvas.js')

  script(src="javascripts/gShake.js",type="text/javascript")

  script(type="text/javascript").
   $(document).ready(function() {
     var count=0;
     $(this).gShake(function() {
      count++;
      $('#counter').text("Count:"+count);
      $('#sum').val(count);
      updateCounter(count);
      $('#form1').submit();
     });
   });

