extends layout

block content
  h1= title
  p This is #{title}
  p Please shake it!
  div#counter
  script(type="text/javascript").
   $(document).ready(function() {
     var count=0;
     $(this).gShake(function() {
      count++;
      $('#counter').text("Count:"+count);
     });
   });
